version: '3.9'

services:
  oracledb:
    image: gvenzl/oracle-xe
    ports:
      - 1521:1521
    environment:
      ORACLE_PASSWORD: password

  oracledb-test:
    image: gvenzl/oracle-xe
    ports:
      - 1522:1521
    environment:
      ORACLE_PASSWORD: password

  app:
    build: docker/base
    working_dir: /users/root/app/dist
    command: npx nodemon -L src/index.js
    environment:
      - NODE_ORACLEDB_USER=system
      - NODE_ORACLEDB_PASSWORD=password
      - NODE_ORACLEDB_CONNECTION_STRING=oracledb:1521/XE
      - NODE_ORACLEDB_MIGRATE=true
      - NODE_ENV=production
      - DEBUG=marv:*
    volumes:
      - ./:/users/root/app
    depends_on:
      - oracledb

  test:
    build: docker/base
    working_dir: /users/root/app/dist
    command: npx nodemon -L ts-node test
    environment:
      - NODE_ORACLEDB_USER=system
      - NODE_ORACLEDB_PASSWORD=password
      - NODE_ORACLEDB_CONNECTION_STRING=oracledb-test:1521/XE
      - NODE_ORACLEDB_MIGRATE=true
      - NODE_ENV=test
    volumes:
      - ./:/users/root/app
    depends_on:
      - oracledb-test
